html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #090920;
  font-family: 'Darker Grotesque', sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  color: white;
  padding-block: 0.5rem;
  position: static;
}

.header_h1 {
  margin: 0;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  z-index: 40;
}

.navbar_a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}

.navbar_a:hover {
  color: aqua;
  transform: scale(1.05);
}

.navbar_a.home {
  color: aqua;
}

.hero {
  background: #090920;
  width: 100%;
  height: 90vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }

}

.hero_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero_image_container {
  margin-block-start: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero_image {
  border-radius: 100%;
  height: 18rem;
  z-index: 20;
}

.hero_image_caption {
  font-size: 2rem;
  font-weight: 600;
  color: aqua;
  text-align: center;
}

.hero_subtitle {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  line-height: 2.5rem;
}

.hero_social_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  font-size: 2.5rem;
  padding: 0;
}

.hero_social_menu ul li {
  list-style: none;
  z-index: 30;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}

.hero_social_menu ul li:hover {
  transform: scale(1.1);
}

.hero_social_menu ul li .fab {
  color: white;
}

.about_me_section {
  display: flex;
  place-content: center;
}

.about_me_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin-block-start: 3rem;
}

.about_me_h2 {
  color: aqua;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.about_me_p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}